<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/new">
        <h1>ENTER THE AUTHOR NAME AND MESSAGE</h1>
        <input type="text" name="author" id="author" placeholder="AUTHOR">
        <input type="text" name="message" id="message" placeholder="MESSAGE">
        <button type="submit">submit</button>
    </form>
</body>
</html>