.heading{
    margin-top: 34px;
    margin-left: 30px;
    
}

.card{
    width: 180px;
    /* border: 2px solid red; */
    /* height: 200px; */
    background-color: #a7a4a40f;
    padding: 10px;
    flex-shrink: 0;
}
.card:hover{
    background-color: black;
    cursor: pointer;
}
.card:hover .play-button {
    opacity: 1;
}
.card img{
    object-fit: contain;
}

.play-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background-color: #1db954; */
    /* fill: rgb(0, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:112px;
    right: 20px;
    cursor: pointer;
    
}

.play-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1db954;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 112px;
    right: 20px;
    cursor: pointer;
    border: none; /* Removes default button border */
    transition: all 0.6s ease;
    opacity: 0;
}

/* Target the SVG inside the button */
.play-button svg {
    fill: #000000; /* Makes the play icon black */
    transform: scale(1.1);
}

.card-container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;  
    margin-left: 30px;
    margin-top: 30px;
    overflow-x: scroll;/* 'auto' is generally preferred over 'scroll' */
    scrollbar-width: none;
}
.card-container2 {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;  
    margin-left: 30px;
    margin-top: 30px;
    overflow-x: scroll;/* 'auto' is generally preferred over 'scroll' */
    scrollbar-width: none;
}
.arrow-svg{
    /* position:fixed;
    top:300px;
    right: 45px;
    cursor: pointer;
    z-index: 1;
    background-color: #a7a4a40f; */
}

.circle-nav-btn {
    /* Create the black circle */
    /* visibility: hidden; */
    opacity: 0;
    position:sticky;
    top:120px;
    right: 45px;
    width: 42px;
    height: 42px;
    background-color: #000000;
    border: none;
    border-radius: 50%;
    z-index: 2;
    
    /* Center the SVG inside the circle */
    display: flex;
    align-items: center;
    justify-content: center;

}
.card-container:hover .circle-nav-btn{
    z-index: 1000;
opacity: 1;
    visibility: visible;
    background-color: #000000;

}

.card-container2:hover .circle-nav-btn2{
    z-index: 1000;
opacity: 1;
    visibility: visible;
    background-color: #000000;

}

.circle-nav-btn2 {
    /* Create the black circle */
    /* visibility: hidden; */
    opacity: 0;
    position:sticky;
    top:120px;
    right: 45px;
    width: 42px;
    height: 42px;
    background-color: #000000;
    border: none;
    border-radius: 50%;
    z-index: 2;
    
    /* Center the SVG inside the circle */
    display: flex;
    align-items: center;
    justify-content: center;

}